<section id="header_banner">
  <div id="header" class="container">
    <div class="row">
      <div class="twelve columns offset-by-two">
        <h1>HookFeed University</h1>
        <h2>Actionable Email Courses Designed To Boost Your Bottom Line</h2>
      </div>
    </div>
  </div>
</section>

<section id="failed_charges_banner">
  <div id="failed_charges" class="container">
    <div class="row">
      <div class="fourteen columns offset-by-one">
        <div class="inner">
          <span>Course 101</span>
          <h1>Rescue Failed Charges</h1>
          <img src="/images/lifesaver.png" width="200" id="lifesaver">
          <h2>Did you know that approximately 10% of all charges fail? That's huge! Discover how easy it is to prevent and recover lost revenue in our <b>4-day email course</b>. You'll learn often overlooked, yet simple and easy ways to keep a whole lot more of your hard-earned cash. You've got nothing to lose!</h2>
          <form action="https://www.getdrip.com/forms/6562966/submissions" method="post" target="_blank" data-drip-embedded-form="1131">
            <input type="email" name="fields[email]" value="" placeholder="Email Address" />
            <input type="submit" name="submit" value="Unlock the Free Course" data-drip-attribute="sign-up-button" />

          </form>
          <p>We respect your inbox and won't send you any other emails outside this course.</p>
        </div>
      </div>
    </div>
  </div>
</section>