body.one-page {
  /* New stuff */
  .expandable {
    display: none;
  }
  a.click_to_expand_benefits {
    background-color: #f9f9f9;
    border-radius: 3px;
    color: #ccc;
    display: block;
    font-size: 34px;
    font-family: $pictos;
    padding: 16px 0 10px;
    text-align: center;
    text-decoration: none;
    width: 300px;
    margin: 30px auto;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
      font-size: 38px;
    }
  }

  #customer_series_banner {
    background-color: #29333A;

    #customer_series {
      #sign_in_to_hookfeed {
        color: #eee;
        position: absolute;
        top: 20px;
        right: 10px;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }

        img {
          margin-left: 10px;
          vertical-align: text-bottom;
          margin-bottom: -2px;
        }

        /* All Mobile Sizes (devices and browser) */
        @media only screen and (max-width: 767px) {
          margin: 20px 0;
          position: static;
          display: block;
          text-align: center;
        }
      }
    }
  }

  #long_form_banner {
    background-color: #fff;
    padding: 40px 0;

    #long_form {
      h1 {
        font-size: 34px;
        line-height: 42px;
        text-align: center;
        font-weight: 300;
        color: #444;
        margin-bottom: 50px;
        padding-top: 20px;

        &:first-of-type {
          font-weight: bold;
          margin-top: 0px;
        }
      }

      p, ul, ol {
        font-size: 20px;
        line-height: 32px;
        color: #555;
        margin-bottom: 30px;
      }

      ul {
        list-style-type: disc;
        margin-left: 50px;

        &.boxed_in {
          background-color: #FFFFF4;
          list-style-type: none;
          font-size: 17px;
          line-height: 29px;
          margin-left: 0px;
          padding: 30px 40px;
          border: 1px solid #D5D3D0;
          box-shadow: 0px 1px 1px rgba(0,0,0,0.1);

          li {
            margin-bottom: 10px;

            &:first-child {
              font-size: 21px;
              line-height: 31px;
              font-weight: bold;
              margin-bottom: 5px;
              text-decoration: underline;
            }

            &:nth-child(2) {
              font-style: italic;
            }
          }
        }
      }

      mark {
        background-color: #FDFFB6;
        padding: 2px;
        -webkit-box-shadow: #FDFFB6 0 0 5px;
        -moz-box-shadow: #fdffb6 0 0 5px;
        box-shadow: #FDFFB6 0 0 5px;
      }
    }

    #customer_quote {
      background-color: #f5f5f5;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 0 30px;

      &>img:first-of-type {
        margin-top: -40px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 20px;
        line-height: 26px;
        color: #555;
        margin-bottom: 14px;
      }

      a {
        display: inline-block;
      }

      p {
        font-size: 16px;
        color: #666;
        margin-bottom: 4px;
      }

      img.logo {
        margin-bottom: 20px;
      }

      img#makers_row {
        margin-top: 0px;
      }
    }
  }


  footer {
    margin-top: 70px !important;
  }


  #benefits_banner {
    padding-bottom: 0px !important;
  }
  #benefits_banner_2 {
    padding-top: 40px !important;
  }



  /* Copied in from other stylesheets */
  #benefits_banner, #benefits_banner_2 {
    background-color: #F5F5F5;
    padding-top: 80px;
    padding-bottom: 60px;

    h1 {
      font-size: 34px;
      line-height: 42px;
      text-align: center;
      font-weight: 300;
      color: #444;
    }

    .row {
      padding: 80px 0;

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        padding: 40px 0;
      }

      &:first-of-type {
        padding-top: 0;
      }

      &:nth-child(2) {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 40px;
      }
    }

    hr {
      border: 0;
      background-color: #ccc;
      height: 1px;
      width: 60%;
      margin: 50px auto;
    }

    h3 {
      font-size: 13px;
      color: #5a9bce;
      margin-bottom: 16px;
      font-weight: 700;
    }
    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 959px) {
      .six.columns:last-child h3 { margin-top: 15px; }
      .six.columns:first-child p { margin-bottom: 30px; }
    }

    h2 {
      font-size: 22px;
      line-height: 32px;
      font-weight: 400;
      color: #444;
      margin-bottom: 8px;
    }

    p {
      color: #6c7079;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      margin-bottom: 14px;
    }
  }

  .cta_banner {
    padding: 40px 0px;
    background-color: #29333a;

    h2 {
      color: #f7f7f7;
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 8px;

      /* Tablet Portrait size to standard 960 (devices and browsers) */
      @media only screen and (min-width: 768px) and (max-width: 959px) {
      font-size: 24px;
      }

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        font-size: 24px;
        text-align: center;
      }

      /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
      @media only screen and (max-width: 479px) {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }

    h3 {
      color: #f7f7f7;
      font-size: 22px;

      /* Tablet Portrait size to standard 960 (devices and browsers) */
      @media only screen and (min-width: 768px) and (max-width: 959px) {
      font-size: 20px;
      }

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        font-size: 20px;
        margin-bottom: 22px;
        text-align: center;
      }

      /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
      @media only screen and (max-width: 479px) {
        display: none;
      }
    }

    a {
      color: #f7f7f7;
      background-color: #5a9bce;
      border-bottom: 2px solid rgba(0,0,0,0.2);
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      border-radius: 3px;
      padding: 20px 50px 17px;
      text-decoration: none;
      vertical-align: middle;
      display: block;
      text-transform: uppercase;
      text-align: center;

      @media only screen and (max-width: 959px) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    p {
      text-align: center;
      color: #f9f9f9;
      margin-top: 8px;
      font-size: 14px;
    }
  }

  #customers_banner {
    background: #3c4952;
    color: #fff;
    padding: 40px 0px;

    h4 {
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 70px;
      text-align: center;
      padding-top: 8px;
    }

    .row:last-of-type {
      margin-bottom: 0px;
    }

    .row {
      margin-bottom: 70px;

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        margin-bottom: 0px;
      }
    }

    .four.columns {
      margin-bottom: 40px;

      a {
        display: block;
        text-align: center;
      }

      &:first-child,
      &:last-child,
      &:nth-child(3) {
        a {
          margin-top: 25px;

          /* All Mobile Sizes (devices and browser) */
          @media only screen and (max-width: 767px) {
            margin-top: 0px;
      }
        }
      }
      &:last-child {
        a {
          margin-top: 12px;

          /* All Mobile Sizes (devices and browser) */
          @media only screen and (max-width: 767px) {
            margin-top: 0px;
          }
        }
      }
    }

    .customer_quote {
      background-color: #f5f5f5;
      padding: 10px 20px;
      border-radius: 3px;
      color: #29333a;
      text-align: center;

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        margin-bottom: 80px;
      }

      h2 {
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 6px;
      }

      p {
        font-size: 15px;
        font-weight: 300;
      }

      img {
        margin-top: -50px;
        margin-bottom: 10px;
      }

      img.logo {
        margin-top: 14px;
      }
    }
  }
}

#signup_cta_banner {
  padding: 50px 0px;
  background-color: #29333a;
  text-align: center;

  h2 {
    color: #f7f7f7;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 30px;

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
    font-size: 24px;
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      font-size: 24px;
      text-align: center;
    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  h3 {
    color: #f7f7f7;
    font-size: 18px;
    margin-top: 10px;

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
    font-size: 20px;
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      font-size: 20px;
      margin-bottom: 22px;
      text-align: center;
    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
      display: none;
    }
  }

  a {
    color: #f7f7f7;
    background-color: #5a9bce;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    border-radius: 3px;
    padding: 20px 50px 17px;
    text-decoration: none;
    vertical-align: middle;
    display: block;
    text-transform: uppercase;
    text-align: center;

    @media only screen and (max-width: 959px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  p {
    text-align: center;
    color: #f9f9f9;
    margin-top: 8px;
    font-size: 14px;
  }
}

#testimonial_banner {
  background-color: #3c4952;
  color: #fff;
  padding: 40px 0px;

  .testimonial {

    img.person {
      border-radius: 30px;
      width: 60px;
      margin-bottom: 12px;
      float: left;
      margin-right: 20px;
    }

    h2 {
      font-size: 30px;
      font-weight: 300;
      line-height: 34px;
      margin-bottom: 25px;
      padding-top: 8px;
      text-align: center;
      line-height: 42px;

      /* Smaller than standard 960 (devices and browsers) */
      @media only screen and (max-width: 959px) {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 10px;
      }

      a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .dan-norris {
      width: 300px;
      margin: 0 auto;
    }

    h3 {
      font-weight: bold;
      padding-top: 7px;
    }

    h3, h4 {
      color: #fff;
      font-size: 20px;
      line-height: 20px;

      /* Smaller than standard 960 (devices and browsers) */
      @media only screen and (max-width: 959px) {
        font-size: 18px;
        line-height: 18px;
      }

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      img {
        vertical-align: bottom;
        margin-left: 8px;

        /* All Mobile Sizes (devices and browser) */
        @media only screen and (max-width: 959px) {
        }
      }
    }
  }
}

#faqs_banner {
  background-color: #F5F5F5;
  padding-top: 80px;
  padding-bottom: 60px;

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  #faqs {
    h2 {
      font-size: 34px;
      line-height: 42px;
      text-align: center;
      font-weight: 300;
      color: #444;
      margin-bottom: 77px;
      text-align: center;

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        margin-bottom: 50px;
      }
    }

    dt {
      color: #444;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 13px;
    }

    dd {
      color: #6c7079;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      margin-bottom: 56px;

      a { color: #5a9bce; text-decoration: underline; }

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 120px !important;
      }
    }

    .left_half dl dd:last-child {
      margin-bottom: 30px !important;
    }

    .right_half dl dd:last-child {
      margin-bottom: 60px !important;
    }
  }
}