body.updates {
  /* Nivo Lightbox Overrides */
  .nivo-lightbox-overlay { background-color: rgba(0,0,0,.7) }
  .nivo-lightbox-close, .nivo-lightbox-prev, .nivo-lightbox-next { display: none }
  .nivo-lightbox-image img { border-radius: 3px }

  #whats_new_banner {
    padding-top: 50px;

    #whats_new {
      .feature,
      .bugfix,
      .performance {
        @extend .clearfix;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0px 1px 1px #e5e5e5;
        margin-bottom: 50px;
        padding: 20px 20px 0;
        position: relative;

        .icon {
          border-radius: 3px;
          color: #fff;
          display: inline-block;
          float: left;
          font-size: 20px;
          font-family: $pictos;
          height: 25px;
          line-height: 20px;
          padding: 6px 0px 0px 6px;
          position: absolute;
          top: -15px;
          left: 337px;
          width: 25px;

          /* Tablet Portrait size to standard 960 (devices and browsers) */
          @media only screen and (min-width: 768px) and (max-width: 959px) { left: 265px }

          /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
          @media only screen and (min-width: 480px) and (max-width: 767px) { left: 197px }

          /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
          @media only screen and (max-width: 479px) { left: 134px }
        }

        time {
          color: #bbb;
          display: block;
          font-size: 12px;
          line-height: 12px;
          margin-bottom: 10px;
        }

        h3 {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          line-height: 17px;
          margin-bottom: 2px;
        }

        p, ul, ol {
          color: #808080;
          font-size: 15px;
          line-height: 25px;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 20px;
          }
        }

        p {
          width: 609px;

          /* Tablet Portrait size to standard 960 (devices and browsers) */
          @media only screen and (min-width: 768px) and (max-width: 959px) { width: 465px }

          /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
          @media only screen and (min-width: 480px) and (max-width: 767px) { width: 329px }

          /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
          @media only screen and (max-width: 479px) { width: 260px }
        }

        ul, ol {
          margin-left: 30px;
          width: 579px;

          /* Tablet Portrait size to standard 960 (devices and browsers) */
          @media only screen and (min-width: 768px) and (max-width: 959px) { width: 435px }

          /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
          @media only screen and (min-width: 480px) and (max-width: 767px) { width: 299px }

          /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
          @media only screen and (max-width: 479px) { width: 230px }
        }

        .demo {
          clear: both;
          padding-top: 10px;

          .demo-image {
            float: left;
            margin-bottom: 17px;
            width: 320px;

            &:nth-child(2n+1) {
              margin-right: 20px;
            }

            /* Tablet Portrait size to standard 960 (devices and browsers) */
            @media only screen and (min-width: 768px) and (max-width: 959px) { width: 248px }

            /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
            @media only screen and (min-width: 480px) and (max-width: 767px) { width: 180px }

            /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
            @media only screen and (max-width: 479px) {
              display: block;
              width: 260px;

              &:first-child {
                margin-bottom: 15px;
                margin-right: 0px;
              }
            }

            a.lightbox {
              display: block;
            }

            img {
              border-radius: 3px;
              border: 1px solid #EEE;
              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
              width: 320px;

              /* Tablet Portrait size to standard 960 (devices and browsers) */
              @media only screen and (min-width: 768px) and (max-width: 959px) { width: 248px }

              /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
              @media only screen and (min-width: 480px) and (max-width: 767px) { width: 180px }

              /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
              @media only screen and (max-width: 479px) {
                width: 260px;
              }
            }
          }
        }
      }

      .feature {
        .icon {
          background-color: #79c782;
          width: 24px;
          padding-left: 7px;
        }
      }

      .bugfix {
        .icon {
          background-color: #E95156;
        }
      }

      .performance {
        .icon {
          background-color: #DDD64D;
          width: 21px;
          padding-left: 10px;
        }
      }
    }
  }
}