#blog_layout, #blog_list_layout {
  background-color: #fff;
}
#blog_list_banner {
  padding-top: 60px;

  #blog_list {
    article {
      margin-bottom: 30px;

      h1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 35px;
        letter-spacing: -1px;
        margin-bottom: 6px;

        a {
          color: #505254;

          &:hover {
            text-decoration: none;
          }
        }
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}

#blog_banner {
  padding-top: 10px;

  article {
    h1, h2, h3, h4 {
      color: #505254;
      font-weight: bold;
    }

    h1 {
      font-size: 30px;
      line-height: 35px;
      letter-spacing: -1px;
      margin: 50px 0;

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        font-size: 30px;
        line-height: 34px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    hr {
      width: 15%;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    h2 {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1px;
      margin-bottom: 6px;
    }

    h3 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 4px;
    }

    h1:first-of-type+h2:first-of-type {
      font-size: 28px;
      line-height: 30px;
      font-weight: normal;
      margin-bottom: 50px;
      margin-top: -40px;

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        font-size: 26px;
        margin-top: -16px;
        margin-bottom: 30px
      }
    }

    img {
      border-radius: 4px;
      width: 580px;

      /* Tablet Portrait size to standard 960 (devices and browsers) */
      @media only screen and (min-width: 768px) and (max-width: 959px) {width: 460px}

      /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
      @media only screen and (min-width: 480px) and (max-width: 767px) {width: 420px}

      /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
      @media only screen and (max-width: 479px) {width: 300px}
    }

    ul, ol {
      list-style-position: inside;
      margin-left: 20px;
    }

    ul {
      list-style-type: square;
    }

    ol {
      list-style-type: decimal;
    }

    pre {
      color: #F7F7F7;
      background-color: $bold_text;
      padding: 40px;
      border-radius: 4px;
      margin: 0 -40px;
      font-size: 14px;
      line-height: 18px;
      font-family: Menlo, monospace;

      white-space: pre-wrap;                 /* CSS3 browsers  */
      white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
      white-space: -pre-wrap;                /* Opera 4 thru 6 */
      white-space: -o-pre-wrap;              /* Opera 7 and up */
      word-wrap: break-word;                 /* IE 5.5+ and up */
    }

    p, ul, ol, dl, pre, blockquote {
      margin-bottom: 30px;
      font-family: $proxima;
    }

    p, ul, ol, dl {
      color: #666;
      font-size: 20px;
      line-height: 32px;
    }

    blockquote {
      padding: 20px;
      text-align: center;

      p {
        color: #505254;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 36px;
        margin-bottom: 5px;
      }

      blockquote {
        margin-bottom: 0px;
        padding: 0px;

        p {
          color: #909295;
          font-size: 15px;
          font-style: normal;
          letter-spacing: 0px;
          line-height: 20px;
          font-weight: normal;
          margin-bottom: 0px;
        }
      }
    }
  }

  aside#sidebar {
    padding-top: 58px;

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {display: none}

    #sharing {
      a.twitter-share-button,
      a.twitter-follow-button {
        display: none;
      }

      iframe {
        margin-bottom: 10px;
        display:block;
      }

      #twitter {
        display: inline-block;

        /* All Mobile Sizes (devices and browser) */
        @media only screen and (max-width: 767px) {
          display: block;
          margin-bottom: 8px;
        }
      }
    }
  }
}


#sharing_banner {
  padding: 20px 0px;
  display: none;

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    display: block;
  }

  #sharing {
    text-align: center;

    #anchor_divider {
      color: #c0c5ce;
      font-family: Pictos;
      font-size: 24px;
      margin-bottom: 60px;
      text-align: center;
    }

    p {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 14px;
      color: #909295;
    }

    #twitter, #googleplus, #facebook, #linkedin, #buffer {
      display: inline-block;

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        display: block;
        margin-bottom: 8px;
      }
    }

    #facebook {
      margin-right: 40px;
    }
  }
}



#promo_banner {
  padding: 20px 0px;

  #anchor_divider {
    color: #c0c5ce;
    font-family: Pictos;
    font-size: 24px;
    margin-bottom: 60px;
    text-align: center;

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  #rocketship_promo {
    background-color: #f4f2e7;
    border-radius: 4px;
    color: #053d5a;
    min-height: 248px;
    padding: 30px 40px;

    img {
      float: right;
      margin-left: 13px;

      /* Smaller than standard 960 (devices and browsers) */
      @media only screen and (max-width: 959px) {
        float: none;
        margin-left: 0px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }

    h2 {
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 16px;
    }

    li {
      font-size: 15px;
      line-height: 18px;
      margin-top: 6px;
      list-style-type: square;
      list-style-position: inside;
    }

    form {
      margin-top: 30px;
    }

    input[type="email"] {
      padding: 10px 10px;
      width: 241px;
      margin: 0px 2px 6px;
      background-color: #f7f7f7;
      color: #579fc1;
      font-size: 14px;
      box-shadow: inset 0px 1px 3px rgba(0,0,0,.13);

      /* Tablet Portrait size to standard 960 (devices and browsers) */
      @media only screen and (min-width: 768px) and (max-width: 959px) {
        width: 199px;
      }

      /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        width: 320px;
      }

      /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
      @media only screen and (max-width: 479px) {
        width: 200px;
      }
    }

    input[type="submit"] {
      background-color: #59ABCE;
      color: #f7f7f7;
      font-size: 13px;
      font-weight: bold;
      padding: 10px 20px;
      cursor: pointer;

      /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        width: 340px;
      }

      /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
      @media only screen and (max-width: 479px) {
        width: 220px;
      }
    }

    input[type="email"],
    input[type="submit"] {
      font-family: $proxima;
      border-radius: 4px;
      display: inline-block;
      border: none;

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        display: block;
      }
    }
  }
}

#bio_banner {
  padding: 20px 0px 125px;

  #bio {
    .ten.columns {
      position: relative;
    }

    h4 {
      color: #505254;
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
      margin-bottom: 10px;
    }

    img {
      border-radius: 44px;
      float: left;
      margin-right: 33px;
      width: 88px;
    }

    h2 {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 2px;
      padding-top: 12px;

      a {
        color: #505254;
      }
    }

    h3 {
      color: #909295;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 8px;

      a {
        color: #909295;
      }
    }

    p {
      color: #909295;
      font-size: 15px;
      line-height: 29px;
      padding-left: 121px;

      /* Mobile Landscape Size and Portrait */
      @media only screen and (max-width: 767px) {
        padding-left: 0px;
        margin-top: 40px;
      }

      a {
        color: #909295;
        text-decoration: underline;
      }
    }

    #follow {
      position: absolute;
      right: 0px;
      top: 80px;

      /* Mobile Landscape Size and Portrait */
      @media only screen and (max-width: 767px) {
        position: static;
        margin-top: 6px;
      }
    }
  }
}

#newsletter_banner {
  background-color: #3c4952;
  padding: 30px 0;
  text-align: center;

  h2 {
    color: #f7f7f7;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 14px;
  }

  p {
    color: #ccc;
    font-size: 14px;
    line-height: 16px;
  }

  input[type="text"], input[type="email"] {
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 2px;
    border: none;
    margin-bottom: 10px;
    font-family: $proxima;
    outline: none;
    width: 155px;
  }

  input[type="text"] {
    margin-right: 10px;

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {width:120px}

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {width:106px}

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {display: none}
  }

  input[type="email"] {
    margin-right: 8px;

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {width:166px}

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {width:140px}

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {width:156px}
  }

  button {
    font-family: $proxima;
    background-color: #5a9bce;
    padding: 5px 20px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    color: #f7f7f7;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0.2);
  }
}