#header_banner {
  background-color: #3c4952;
  padding: 50px 0;
  text-align: center;

  h1 {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    font-weight: 900;
    color: #f7f7f7;
    margin-bottom: 6px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #f7f7f7;
  }
}

#failed_charges_banner {
  background-color: #F5F5F5;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;

  .inner {
    background-color: rgba(90,155,206,.2);
    padding: 30px 50px;
    border-radius: 3px;
  }

  h1 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
    color: #444;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #444;
    margin-bottom: 8px;
  }

  p {
    font-size: 15px;
    color: #6C7079;
  }

  input[type="email"]{
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 2px;
    border: none;
    margin-bottom: 10px;
    font-family: $proxima;
    outline: none;
    margin-right: 10px;
    margin-top: 20px;
    width: 250px;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      display: block;
      width: 100%;
      font-size: 16px;
    }
  }

  input[type="submit"] {
    font-family: $proxima;
    background-color: #5a9bce;
    padding: 10px 25px;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 600;
    color: #f7f7f7;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    margin-bottom: 10px;

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      display: block;
      width: 100%;
      font-size: 16px;
    }
  }
}