/* Privacy Policy and Terms of Service */
#skinny_page_banner {
  padding-top: 125px;
  padding-bottom: 125px;

  #skinny_page {
    p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
}