body#page_layout.pricing {

#pricing_banner {
    background-color: #29333a;
    padding-top: 54px;
    padding-bottom: 30px;

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    #pricing {
      #pricing_headlines {
        margin-bottom: 30px;
        text-align: center;

        h1, h2 {
          color: #f7f7f7;
          text-align: center;
        }

        h1 {
          font-size: 34px;
          line-height: 42px;
          font-weight: 300;
          margin-bottom: 10px;
        }

        h2 {
          font-size: 22px;
          line-height: 28px;
          font-weight: 400;
        }
      }
    }
  }
}

#pricing_table_banner {
  background-color: #f5f5f5;
  padding: 50px 0px;

  #pricing_table {
    table {
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0px 1px 1px #e5e5e5;
      width: 100%;

      tbody {
        tr {
          td {
            &:first-child {
              font-weight: bold;
              padding: 5px 10px 5px 30px;
              width: 100px;
            }

            &:nth-child(2) {
              font-size: 13px;
              padding: 5px 10px 5px 10px;
            }

            &:last-child {
              padding: 5px 30px 5px 10px;

              a {
                background-color: $green;
              }
            }
          }

          &:first-child {
            td {
              padding-top: 30px;
            }
          }
        }
      }
    }

    #free_notice {
      float: left;
      text-align: left;
    }

    #enterprise_notice {
      float: right;
      text-align: right;

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        margin-bottom: 40px;
      }
    }

    #free_notice, #enterprise_notice {
      font-size: 13px;
      font-weight: normal;
      line-height: 16px;
      margin-top: 15px;

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        clear: both;
        text-align: center;
        width: 100%;
      }
    }
  }
}

#testimonial_banner {
    background-color: #3c4952;
    color: #fff;
    padding: 40px 0px;

    .testimonial {

      img.person {
        border-radius: 30px;
        width: 60px;
        margin-bottom: 12px;
        float: left;
        margin-right: 20px;
      }

      h2 {
        font-size: 30px;
        font-weight: 300;
        line-height: 34px;
        margin-bottom: 25px;
        padding-top: 8px;
        text-align: center;
        line-height: 42px;

        /* Smaller than standard 960 (devices and browsers) */
        @media only screen and (max-width: 959px) {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 10px;
        }

        a {
          color: #fff;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .dan-norris {
        width: 300px;
        margin: 0 auto;
      }

      h3 {
        font-weight: bold;
        padding-top: 7px;
      }

      h3, h4 {
        color: #fff;
        font-size: 20px;
        line-height: 20px;

        /* Smaller than standard 960 (devices and browsers) */
        @media only screen and (max-width: 959px) {
          font-size: 18px;
          line-height: 18px;
        }

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        img {
          vertical-align: bottom;
          margin-left: 8px;

          /* All Mobile Sizes (devices and browser) */
          @media only screen and (max-width: 959px) {
          }
        }
      }
    }
  }

#faqs_banner {
    background-color: #F5F5F5;
    padding-top: 80px;
    padding-bottom: 60px;

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      padding-top: 60px;
      padding-bottom: 20px;
    }

    #faqs {
      h2 {
        font-size: 34px;
        line-height: 42px;
        text-align: center;
        font-weight: 300;
        color: #444;
        margin-bottom: 77px;
        text-align: center;

        /* All Mobile Sizes (devices and browser) */
        @media only screen and (max-width: 767px) {
          margin-bottom: 50px;
        }
      }

      dt {
        color: #444;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 13px;
      }

      dd {
        color: #6c7079;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 56px;

        a { color: #5a9bce; text-decoration: underline; }

        /* All Mobile Sizes (devices and browser) */
        @media only screen and (max-width: 767px) {
          margin-bottom: 30px;
        }

        &:last-child {
          margin-bottom: 120px !important;
        }
      }

      .left_half dl dd:last-child {
        margin-bottom: 30px !important;
      }

      .right_half dl dd:last-child {
        margin-bottom: 60px !important;
      }
    }
  }