<section id="bio_banner">
  <div id="bio" class="container">
    <div class="ten columns offset-by-three">
      <h4>About the Author</h4>
      <%= partial "partials/authors/#{current_page.data.author}" %>
    </div><!-- END .ten columns offset-by-three -->
  </div><!-- END #bio.container -->
</section> <!-- END #bio_banner -->