<section id="promo_banner">
  <div id="promo" class="container">
    <div class="ten columns offset-by-three">
      <div class="promo_inner" id="hookfeed_promo">
        <a href="/"><img src="https://d2uerwjzv5u4r9.cloudfront.net/blog_promo.jpg" width="560" class="scale-with-grid"></a>
      </div> <!-- END #hookfeed_promo -->
    </div><!-- END .ten columns offset-by-three -->
  </div><!-- END #promo.container -->
</section> <!-- END #promo_banner -->