<section id="sharing_banner">
  <div id="sharing" class="container">
    <div class="ten columns offset-by-three">
      <p>If you liked this article it would mean a lot to me if you'd share it!</p>
      <!-- Twitter -->
      <div id="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="HookFeed">Tweet</a>
      </div><!-- END #twitter -->
      <!-- Buffer -->
      <div id="buffer">
        <a href="http://bufferapp.com/add" class="buffer-add-button" data-count="horizontal" data-via="HookFeed" >Buffer</a><script type="text/javascript" src="http://static.bufferapp.com/js/button.js"></script>
      </div><!-- END #buffer -->
      <!-- Google+ -->
      <div id="googleplus">
        <div class="g-plusone"></div>
      </div><!-- END #googleplus -->
      <!-- Facebook -->
      <div id="facebook">
        <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false">
        </div>
      </div><!-- END #facebook -->
    </div><!-- END .ten columns offset-by-three -->
  </div><!-- END #sharing.container -->
</section> <!-- END #sharing_banner -->