<div id="subscription_bar_banner">
  <div id="subscription_bar" class="container">
    <div class="eight columns">
      Info about it!
    </div>

    <div class="four columns offset-by-four">
      Click here to subscribe!
    </div>
  </div>
</div>