<section id="footer_banner">
  <div id="footer" class="container">
    <footer class="sixteen columns">
      <a href="/blog">Blog</a>
      <a href="http://support.hookfeed.com">Support</a>
      <a href="/updates">Updates</a>
      <a href="mailto:joelle.steiniger@hookfeed.com?subject=Why%20I%20%3C3%20HookFeed%20(and%20why%20HookFeed%20should%20%3C3%20me%20back)">We're Hiring!</a>
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-of-service">Terms &amp; Conditions</a>
    </footer>
  </div>
</section>

<%= partial 'partials/modals' %>