<section id="footer_banner">
  <div id="footer" class="container">
    <footer class="sixteen columns">
      <a href="/blog">Blog</a>
      <a href="http://support.hookfeed.com">Support</a>
      <a href="/updates">Updates</a>
      <a href="mailto:joelle.steiniger@hookfeed.com?subject=Why%20I%20%3C3%20HookFeed%20(and%20why%20HookFeed%20should%20%3C3%20me%20back)">We're Hiring!</a>
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-of-service">Terms &amp; Conditions</a>
    </footer>
  </div>
</section>

<div id="subscribe_modal" class="modal hide fade">
  <form action="http://email.demandloyalty.com/t/r/s/tkvjrl/" method="post" id="subscribe_form">
    <a class="close" href="javascript://" data-dismiss="modal">&#215;</a>
    <h2>Drop us your info and unlock <strong>free access to all of our awesome <a href="/guides" target="_blank">PDF Guides</a></strong>. We'll also send periodic emails aimed to help you retain your customers and boost your revenue.</h2>
    <input id="subscribe_name" name="cm-name" type="text" placeholder="Your Name" />
    <input id="subscribe_email" name="cm-tkvjrl-tkvjrl" type="email" placeholder="and Your Email" spellcheck="false" required />
    <button type="submit" value="Subscribe">Unlock Instant Access</button>
  </form>
</div>

<div id="waitlist_modal" class="modal hide fade">
  <form action="http://email.demandloyalty.com/t/r/s/tkvjrl/" method="post" id="waitlist_form">
    <a class="close" href="javascript://" data-dismiss="modal">&#215;</a>
    <h2><strong><u>We're putting the finishing touches on this guide...</u></strong><br>If you subscribe now, we'll shoot you an email once it's ready for download. In the meantime, we'll unlock free access to all our other Guides.<br><br>We'll also send periodic emails aimed to help you retain your customers and boost your revenue.</h2>
    <input id="subscribe_name" name="cm-name" type="text" placeholder="Your Name" />
    <input id="subscribe_email" name="cm-tkvjrl-tkvjrl" type="email" placeholder="and Your Email" spellcheck="false" required />
    <button type="submit" value="Subscribe">Unlock Instant Access</button>
  </form>
</div>