<section id="headline_banner">
  <div id="headline" class="container">
    <div class="row">
      <div class="twelve columns offset-by-two">

        <h1><%= headline %></h1>
        <h2><%= subhead %></h2>

      </div>
    </div>
  </div>
</section>