<nav>
  <%= link_to 'Benefits', '/benefits' %>
  <%= link_to 'Pricing', '/pricing' %>
  <%= link_to 'Free Guides', '/guides' %>
  <%= link_to 'Login', "#{(development?) ? 'http' : 'https'}://secure.hookfeed.#{(development?) ? 'dev' : 'com'}/login" %>
</nav>