<% if update.data.type == 'feature' %>
<div class="feature">
  <span class="icon">k</span>
<% elsif update.data.type == 'bugfix' %>
<div class="bugfix">
  <span class="icon">x</span>
<% elsif update.data.type == 'performance' %>
<div class="performance">
  <span class="icon">e</span>
<% elsif update.data.type == 'upcoming' %>
<div class="upcoming">
  <span class="icon">t</span>
<% end %>

  <time><%= update.date.strftime('%B %-d, %Y') %></time>

  <%= update.body %>

  <% if update.data.images && update.data.images.count > 0 %>
    <div class="demo">
      <% update.data.images.each do |image_url| %>
        <div class="demo-image">
          <a class="lightbox" href="http://d2uerwjzv5u4r9.cloudfront.net/updates/<%= image_url %>" title="">
            <img src="http://d2uerwjzv5u4r9.cloudfront.net/updates/<%= image_url %>" alt="" width="320">
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
</div>