$proxima: 'proxima-nova', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
$pictos: 'Pictos';
$green: #54BD9C;
$green_hover: #51AE91;
$blue: #5799D6;
$blue_hover: #4C8BC5;
$bg: #F5F5F5;
$text: #6C7079;
$bold_text: #444444;