---
title: Customer Analytics - HookFeed - Stripe Email Notifications and Digest Analytics
priority: 1
changefreq: daily
---


<section class="subnav">
  <div class="container">
    <div class="sixteen columns">
      <a href="/features/customer-analytics">Customer Analytics</a>
      <a href="/features/alerts">Instant Alerts</a>
      <a href="/features/digests">Summaries</a>
    </div>
  </div>
</section>

<section class="user_story">
  <div id="story" class="container">
    <div class="sixteen columns">
      <img src="/images/user_story_placeholder.jpg">
    </div>
  </div>
</section>

<section id="customer_analytics_banner">
  <div id="customer_analytics" class="container">
    <div class="twelve columns offset-by-two">
      <h1>Customer Analytics You Can Act On</h1>
      <h1>Analytics are People Too...</h1>
      <h2>You Work Hard To Get Your Customers - You Should Keep Them!</h2>
    </div>
    <div class="sixteen columns">
      <img src="/images/team_routing_example.jpg">
    </div>
  </div>
</section>

<section id="revenue_analytics_banner">
  <div id="revenue_analytics" class="container">
    <div class="twelve columns offset-by-two">
      <h1>Simple, Bottom Line Metrics You've Been Missing</h1>
      <h2>SaaS or eCommerce - We've Got You Covered</h2>
    </div>
    <div class="sixteen columns">
      <img src="/images/team_routing_example.jpg">
    </div>
</section>

<section class="cta_banner">
  <div id="cta" class="container">
    <div class="nine columns">
      <h2>Get Your Customer Data In <b><u>One- Click</u></b></h2>
      <h3>(It's literally that easy...and it's free to try.)</h3>
    </div>
    <div class="six columns offset-by-one">
      <a href="#">View Plans &amp; Pricing</a>
    </div>
</section>

