---
title: Stripe Summaries - HookFeed - Stripe Email Notifications and Digest Analytics
priority: 1
changefreq: daily
---

<section class="subnav">
  <div class="container">
    <div class="sixteen columns">
      <a href="/features/customer-analytics">Customer Analytics</a>
      <a href="/features/alerts">Instant Alerts</a>
      <a href="/features/digests">Summaries</a>
    </div>
  </div>
</section>

<section class="user_story">
  <div id="story" class="container">
    <div class="sixteen columns">
      <img src="/images/user_story_placeholder.jpg">
    </div>
  </div>
</section>

<section id="summaries_banner">
  <div id="summaries" class="container">
    <div class="twelve columns offset-by-two">
      <h1>Your Vital Signs - Delivered</h1>
      <h2>Sent straight to your inbox daily and/or weekly</h2>
    </div>
    <div class="ten columns">
      <img src="/images/email_alert_example.jpg">
    </div>
    <div class="six columns">
      <p>Never feel in the dark again about your revenue and your customers. We send you the most critical and actional bits so you can </p>
    </div>
  </div>
</section>

<section class="cta_banner">
  <div id="cta" class="container">
    <div class="nine columns">
      <h2>Get Your Customer Data In <b><u>One- Click</u></b></h2>
      <h3>(It's literally that easy...and it's free to try.)</h3>
    </div>
    <div class="six columns offset-by-one">
      <a href="#">View Plans &amp; Pricing</a>
    </div>
</section>