<div class="promo_inner" id="hookfeed_promo">
  <a href="/"><img src="https://s3.amazonaws.com/smallhq/hookfeed_promo%402x.png" width="560" class="scale-with-grid"></a>
</div> <!-- END #hookfeed_promo -->