<div class="promo_inner" id="rocketship_promo">
  <%= link_to '<img src="https://s3.amazonaws.com/HookFeed/rocketship.png" width="200" height="248">', "http://howtobuildarocketship.com" %>
  <h2>Are you building your own SaaS?</h2>
  <h3>Learn how to do it <i>our way</i>, and launch into revenue from <b>day one</b>.</h3>
  <ul>Learn our secrets to:
    <li>Building a quality audience</li>
    <li>Developing the right product</li>
    <li>Converting beta testers into paid users</li>
    <li>Launching into revenue from day one</li>
    <li>and more...</li>
  </ul>
  <form action="http://email.demandloyalty.com/t/r/s/tyjtukk/" method="post">
    <input type="email" name="cm-tyjtukk-tyjtukk" placeholder="Your Email" id="sign_up" required>
    <input type="submit" value="Reserve Your Launch Discount" id="submit">
  </form>
</div> <!-- END #rocketship_promo -->