---
title: HookFeed Blog - Stripe Email Notifications and Digest Analytics
priority: 1
changefreq: daily
---

<%= partial 'partials/headlines', locals: {
  headline: "The Best Articles about Customer Retention",
  subhead: "Learn about Customer Onboarding, Analytics, Support, and Retention"
} %>

<section id="blog_list_banner">
  <div id="blog_list" class="container">
    <div class="ten columns offset-by-three">

      <% blog('blog').articles.each do |article| %>
        <article>
          <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
          <h2><img src="http://placehold.it/20/20">Written by <a href="#">Matt Goldman</a></h2>
          <p><%= article.data.teaser %></p>
        </article>
      <% end %>

    </div><!-- END .sixteen.columns -->
  </div><!-- END #blog_list.container -->
</section><!-- END #blog_list_banner -->



<!--<section id="newsletter_banner">
    <div id="newsletter" class="container">
      <div class="ten columns offset-by-three">
        <h2>Improve Your Business by Leveraging Customer Insights. Sign Up for Weekly Articles.</h2>
        <form action="http://email.demandloyalty.com/t/r/s/tkvjrl/" method="post">
          <input id="fieldName" name="cm-name" placeholder="First Name" type="text" />
          <input id="fieldEmail" name="cm-tkvjrl-tkvjrl" placeholder="Email" type="email" required />
          <button type="submit">Subscribe</button>
        </form>
        <p>We'll never assault your inbox. Emails are periodic and packed with value.</p>
      </div>
    </div>
  </section>-->