<div class="guide one-third column available">
  <div class="covers">
    <img src="https://d2uerwjzv5u4r9.cloudfront.net/guides/<%= front_cover %>" class="front scale-with-grid">
    <img src="https://d2uerwjzv5u4r9.cloudfront.net/guides/<%= back_cover %>" class="back scale-with-grid">
  </div>
  <div class="book_description">
    <%= description_html %>
  </div>
  <a href="<%= download_link %>" class="download"><span>)</span>Download PDF</a>
  <a href="javascript://" class="unlock" data-toggle="modal" data-target="#subscribe_modal"><span>(</span>Unlock PDF</a>
</div>