<div class="guide one-third column coming_soon">
  <div class="covers">
    <img src="https://d2uerwjzv5u4r9.cloudfront.net/guides/<%= front_cover %>" class="front scale-with-grid">
  </div>
  <a href="javascript://" class="coming_soon" data-toggle="modal" data-target="#waitlist_modal"><span>(</span>Ready Soon...</a>
</div>