<a href="https://twitter.com/manualwise" target="_blank"><img src="https://d2uerwjzv5u4r9.cloudfront.net/manuel.jpg" width="88" height="88"></a>
<h2><a href="https://twitter.com/manualwise" target="_blank">Manuel Weiss</a></h2>
<h3>Co-Founder/Marketing, <a href="https://codeship.io" target="_blank">Codeship</a></h3>
<p>Manuel is Director of Marketing at Codeship. Codeship is a hosted Continuous Delivery service. It runs your tests and automatically deploys your code so you can focus on building the best product for your customers. The Codeship team cares a lot about simplicity and usability. You can listen to their CEO's interview about finding the WOW-moment <a href="http://rocketship.fm/podcast/ep-13-moritz-plassnig" target="_blank">here</a> and to Manuel's interview about Codeship's scientific approach to Marketing <a href="http://rocketship.fm/episodes/ep-54-manuel-weiss" target="_blank">here</a>.
</p>
<div id="follow"><a href="https://twitter.com/manualwise" class="twitter-follow-button" data-show-count="false">Follow @manualwise</a></div>