<%= link_to '<a href="https://twitter.com/SDMattG"><img src="https://s3.amazonaws.com/HookFeed/matt.jpg" width="88" height="88"</a>' %>
<h2><a href="https://twitter.com/SDMattG">Matt Goldman</a></h2>
<h3>Founder, Small HQ</h3>
<p>I’m Matt Goldman. I’m building <a href="http://www.hookfeed.com">HookFeed</a> and writing a book about <a href="http://howtobuildarocketship.com">how to build a SaaS rocketship</a> with my partner <a href="https://twitter.com/JoelleSteiniger">Joelle</a> and <a href="https://twitter.com/michaelsacca">Michael Sacca</a>.</p>
<div id="follow"><a href="https://twitter.com/SDMattG" class="twitter-follow-button" data-show-count="false">Follow @SDMattG</a></div>