<%= partial 'partials/headlines', locals: {
  headline: "Why Our Customers Love Us",
  subhead: "A few <i>real</i> benefits of HookFeed"
} %>

<section id="customer_stories_banner">
  <div id="customer_io" class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="four columns">
        <img src="https://d2uerwjzv5u4r9.cloudfront.net/colin_nederkoorn.png" width="220">
        <p><a href="https://twitter.com/alphacolin">Colin Nederkoorn</a>, Founder</p>
        <a href="http://customer.io"><img src="https://d2uerwjzv5u4r9.cloudfront.net/cio_logo.png" width="150" class="customer_logo"></a>
      </div>
      <div class="ten columns offset-by-two">
        <h2>"I recovered over $1,200 in past-due payments <b><i>the day</i></b> I signed up for HookFeed!"</h2>
        <blockquote class="twitter-tweet" lang="en"><p>The &quot;Past Due&quot; view on <a href="https://twitter.com/HookFeed">@HookFeed</a> easily pays for the whole subscription. Wow. <a href="http://t.co/8yxuqSRpwY">pic.twitter.com/8yxuqSRpwY</a></p>&mdash; Colin Nederkoorn (@alphacolin) <a href="https://twitter.com/alphacolin/statuses/477171872220868608">June 12, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>

  <hr>

  <div id="wp_curve" class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="ten columns">
        <h2>"Before Hookfeed we were in a painful situation. We'd serve customers for months without realizing they hadn't paid. It's a no-brainer at the price - <b>I highly recommend it!</b>"</h2>
      </div>
      <div class="four columns offset-by-two">
        <img src="https://d2uerwjzv5u4r9.cloudfront.net/dan_norris.png" width="220">
        <p><a href="https://twitter.com/thedannorris">Dan Norris</a>, Founder</p>
        <a href="http://www.wpcurve.com"><img src="https://d2uerwjzv5u4r9.cloudfront.net/wpcurve_logo.png" width="150" class="customer_logo"></a>
      </div>
    </div>
  </div>

  <hr>

  <div id="makersrow" class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="four columns">
        <img src="https://d2uerwjzv5u4r9.cloudfront.net/rafael_balbi.png" width="220">
        <p><a href="https://twitter.com/rafaelbalbijr">Rafael Balbi</a>, Product Manager</p>
        <a href="http://www.makersrow.com"><img src="https://d2uerwjzv5u4r9.cloudfront.net/makersrow_logo.png" width="150" class="customer_logo"></a>
      </div>
      <div class="ten columns offset-by-two">
        <h2>"We're a growth stage company trying to get a strong handle on our MRR. We've used other services but have always gotten incorrect or inconsistent numbers. <b>HookFeed is GREAT!</b>"</h2>
        <blockquote class="twitter-tweet" data-conversation="none" lang="en"><p><a href="https://twitter.com/SDMattG">@SDMattG</a> <a href="https://twitter.com/HookFeed">@HookFeed</a> were hooked</p>&mdash; Rafael Balbi (@rafaelbalbijr) <a href="https://twitter.com/rafaelbalbijr/statuses/476918420558991360">June 12, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>

  <hr>

  <div id="marvel" class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="ten columns">
        <h2>"I tried different tools to find the right fit, and <b>HookFeed's metrics proved to be the most accurate</b>. I want a tool I can trust for reporting to investors and help make decisions. The other tools were off by quite a large margin. Also, watching people come out of trial by the minute is weirdly addictive!"</h2>
      </div>
      <div class="four columns offset-by-two">
        <img src="https://d2uerwjzv5u4r9.cloudfront.net/murat_mutlu2.png" width="220">
        <p><a href="https://twitter.com/mutlu82">Murat Mutlu</a>, Co-Founder</p>
        <a href="https://marvelapp.com/"><img src="https://d2uerwjzv5u4r9.cloudfront.net/marvel_logo.png" width="150" class="customer_logo"></a>
      </div>
    </div>
  </div>

  <hr>

  <div id="stacklead" class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="four columns">
        <img src="https://d2uerwjzv5u4r9.cloudfront.net/gordon_wintrob.png" width="220">
        <p><a href="https://twitter.com/gwintrob">Gordon Wintrob</a>, Co-Founder</p>
        <a href="http://www.stacklead.com/"><img src="https://d2uerwjzv5u4r9.cloudfront.net/stacklead_logo.png" width="150" class="customer_logo"></a>
      </div>
      <div class="ten columns offset-by-two">
        <h2>"<b>HookFeed turns your inbox into a sales gong!</b> We love it at StackLead. It gives us laser-sharp insight into our customers and revenue. It's already replaced several janky scripts to pull Stripe data into our internal dashboard and I'm very excited to see where they go."</h2>
      </div>
    </div>
  </div>

  <hr>

  <div id="idonethis" class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="ten columns">
        <h2>"HookFeed is more than just metrics and raw data, it provides <b>deep customer insights</b>.  And I love how incredibly easy it is to use!"</h2>
      </div>
      <div class="four columns offset-by-two">
        <img src="https://d2uerwjzv5u4r9.cloudfront.net/walter_chen.png" width="220">
        <p><a href="https://twitter.com/smalter">Walter Chen</a>, Founder</p>
        <a href="https://idonethis.com/"><img src="https://d2uerwjzv5u4r9.cloudfront.net/idonethis_logo.png" width="150" class="customer_logo"></a>
      </div>
    </div>
  </div>

  <hr>

  <div id="cornerstone" class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="four columns">
        <img src="https://d2uerwjzv5u4r9.cloudfront.net/oliver_bridge.png" width="220">
        <p><a href="https://twitter.com/oliverbridge">Oliver Bridge</a>, Founder</p>
        <a href="http://www.cornerstone.co.uk/"><img src="https://d2uerwjzv5u4r9.cloudfront.net/cornerstone_logo.png" width="150" class="customer_logo"></a>
      </div>
      <div class="ten columns offset-by-two">
        <h2>"The daily email updates are <i><b>really</b></i> helpful. Being able to see our ARR and yesterday's net sales in summary is so handy. It saves us time and when the email lands, it allows the team to get excited about how we're progressing!"</h2>
      </div>
    </div>
  </div>


</section>





