---
layout: customer_stories
---

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="row">
      <div class="twelve columns offset-by-two">
        <h1>We Want to Give Back to You</h1>
        <h2>Our Guides are 100% Free!</h2>
      </div>
    </div>
  </div>
</section>

<section id="guides_banner">
  <div id="guides" class="container">
    <div class="row">
      <div class="one-third column">
        <img src="/images/book_cover_failed_charges.png" class="scale-with-grid">
        <a href="http://google.com" class="download"><span>)</span>Download PDF</a>
        <a href="javascript://" class="unlock" data-toggle="modal" data-target="#subscribe_modal"><span>(</span>Unlock PDF</a>
      </div>
      <div class="one-third column">
        <img src="/images/book_cover_coming_soon.png" class="scale-with-grid">
        <a href="#" class="coming_soon">Coming Soon</a>
      </div>
      <div class="one-third column">
        <img src="/images/book_cover_coming_soon2.png" class="scale-with-grid">
        <a href="#" class="coming_soon">Coming Soon</a>
      </div>
    </div>
  </div>
</section>