---
layout: customer_stories
---

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="row">
      <div class="twelve columns offset-by-two">
        <h1>We Want to Give Back to You</h1>
        <h2>Our Guides are 100% Free!</h2>
      </div>
    </div>
  </div>
</section>

<section id="guides_banner">
  <div id="guides" class="container">
    <div class="row">
      <%= partial 'partials/guides/available', locals: {
        front_cover: 'failed_charges1_front.png',
        back_cover: 'back_cover_red.png',
        download_link: '#',
        description_html: "<p><b>Failed Charges Suck.</b><br>The good news is: there are actually simple ways to prevent most failures.</p><p>In part one of this series, we'll cover the things you can do to prevent failures starting today.</p><p><b>You work hard for your customers, you should keep them!</b></p>"
      } %>

      <%= partial 'partials/guides/available', locals: {
        front_cover: 'failed_charges2_front.png',
        back_cover: 'back_cover_red.png',
        download_link: '#',
        description_html: "<p>Prevention will only take you so far when it comes to squashing your number of failed charges. If you really want to combat the problem, there are some things you'll need to actively do to rescue customers.</p><p><b>Don't worry, it's not as painful as it sounds!</b></p><p>The tactics we cover in part two of this series are pretty easy to implement and repeat.</p>"
      } %>

      <%= partial 'partials/guides/coming_soon', locals: { front_cover: 'customer_retention1_coming_soon.png'} %>
    </div>

    <div class="row">
      <%= partial 'partials/guides/coming_soon', locals: { front_cover: 'customer_retention2_coming_soon.png'} %>


    </div>
  </div>
</section>