---
layout: customer_stories
---

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="row">
      <div class="twelve columns offset-by-two">
        <h1>We Want to Give Back to You</h1>
        <h2>Our Guides are 100% Free!</h2>
      </div>
    </div>
  </div>
</section>

<!--
<section id="email_signup_banner">
  <div class="container">
    <div class="twelve columns offset-by-two">
      <div class="inner" id="signup_box">
        <form action="http://email.demandloyalty.com/t/r/s/tkvjrl/" method="post">
          <p>
            <input id="fieldjuhrfh" name="cm-f-juhrfh" type="text" placeholder="First Name" required />
            <input id="fieldjuhrfd" name="cm-f-juhrfd" type="text" placeholder="Last Name" required />
          </p>
          <p>
            <input id="fieldEmail" name="cm-tkvjrl-tkvjrl" type="email" placeholder="Email" required />
            <input id="fieldjuhrfk" name="cm-f-juhrfk" type="text" placeholder="Company" required />
          </p>
          <p>
            <button type="submit" id="unlock_all"><span>(</span>Unlock All Guides</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</section> -->

<section id="guides_banner">
  <div id="guides" class="container">
    <div class="row">
      <div class="one-third column">
        <img src="/images/book_cover_failed_charges.png" class="scale-with-grid">
        <button id="active"><span>)</span>Download</button>
        <button id="inactive"><span>(</span>Unlock</button>
      </div>
      <div class="one-third column">
        <img src="/images/book_cover_failed_charges2.png" class="scale-with-grid">
        <button id="active"><span>)</span>Download</button>
        <button id="inactive"><span>(</span>Unlock</button>
      </div>
      <div class="one-third column">
        <img src="/images/book_cover_coming_soon.png" class="scale-with-grid">
        <button id="coming_soon">Coming Soon</button>
      </div>
    </div>

    <div class="row">
      <div class="one-third column">
        <img src="/images/book_cover_coming_soon2.png" class="scale-with-grid">
        <button id="coming_soon">Coming Soon</button>
      </div>

      <div class="one-third column">
        <img src="/images/book_hover_state_failed_charges.png" class="scale-with-grid">
        <button id="coming_soon">Coming Soon</button>
      </div>

      <!--DESCRIPTIONS
      <div class="one-third column book_description">
        <p><b>Failed Charges Suck.</b><br>The good news is, there are actually really easy ways to prevent a good chunk of most failures.</p>
        <p>In part one of this series we'll cover the things you can do to prevent failures as soon as today.</p>
        <p><b>You work hard for your customers, you should keep them!</b></p>
      </div>
        ----------


      <div class="one-third column book_description">
        <p>Prevention will only take you so far when it comes to squashing your number of failed charges. If you really want to combat the problem, there are some things you'll need to actively do to rescue customers.</p>
        <p><b>Don't worry, it's not as painful as it sounds!</b></p>
        <p>The tactics we cover in part two of this series are pretty easy to implement and repeat. We promise!</p>
      </div> -->
    </div>
  </div>
</section>