---
layout: customer_stories
---

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="row">
      <div class="twelve columns offset-by-two">
        <h1>We Want to Give Back to You</h1>
        <h2>Our Guides are 100% Free!</h2>
      </div>
    </div>
  </div>
</section>

<!--
<section id="email_signup_banner">
  <div class="container">
    <div class="twelve columns offset-by-two">
      <div class="inner" id="signup_box">
        <form action="http://email.demandloyalty.com/t/r/s/tkvjrl/" method="post">
          <p>
            <input id="fieldjuhrfh" name="cm-f-juhrfh" type="text" placeholder="First Name" required />
            <input id="fieldjuhrfd" name="cm-f-juhrfd" type="text" placeholder="Last Name" required />
          </p>
          <p>
            <input id="fieldEmail" name="cm-tkvjrl-tkvjrl" type="email" placeholder="Email" required />
            <input id="fieldjuhrfk" name="cm-f-juhrfk" type="text" placeholder="Company" required />
          </p>
          <p>
            <button type="submit" id="unlock_all"><span>(</span>Unlock All Guides</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</section> -->

<section id="guides_banner">
  <div id="guides" class="container">
    <div class="row">
      <div class="one-third column">
        <img src="/images/book_cover_failed_charges.png" class="scale-with-grid">
        <button id="active"><span>)</span>Download</button>
        <button id="inactive"><span>(</span>Unlock</button>
      </div>
      <div class="one-third column">
        <img src="/images/book_cover_coming_soon.png" class="scale-with-grid">
        <button id="coming_soon">Coming Soon</button>
      </div>
      <div class="one-third column">
        <img src="/images/book_cover_coming_soon2.png" class="scale-with-grid">
        <button id="coming_soon">Coming Soon</button>
      </div>
    </div>
  </div>
</section>