---
title: HookFeed - Stripe Email Notifications and Digest Analytics
priority: 1
changefreq: daily
---

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="sixteen columns">
      <h1>Customer Analytics in One Click.</h1>
      <h2>The no-code way to all your Stripe customer data, payments &amp; bottom-line metrics.</h2>
    </div><!-- END .sixteen.columns -->
    <div class="sixteen columns" id="main_graphic">
      <img src="http://placehold.it/960x350">
    </div>
  </div><!-- END #headline.container -->
</section><!-- END #headline_banner -->

<section id="testimonial_banner">
  <div class="container testimonial">
    <div class="three columns offset-by-two">
      <a href="https://twitter.com/collision"><img src="https://s3.amazonaws.com/HookFeed/johncollison.jpg" width="160" height="160" id="john" class="person scale-with-grid"></a>
    </div><!-- END .four.columns -->
    <div class="nine columns">
      <h2>"I was hoping someone would build this since the day we launched Stripe!"</h2>
      <h3><a href="https://twitter.com/collision">John Collison</a></h3>
      <h4><a href="https://stripe.com">Co-Founder of<img src="https://s3.amazonaws.com/HookFeed/stripe-mini.png" height="25"></a></h4>
    </div><!-- END .eight.columns -->

  </div><!-- END #testimonial.container -->
</section><!-- END #testimonial -->

<section id="three_benefits_banner">
  <div id="three_benefits" class="container">
    <div class="row">
      <div class="twelve columns offset-by-two">
            <h1>It's About Time You Knew What's Happening With Your Customers and Your Revenue.</h1>
      </div>
    </div>

    <div id="benefits" class="row">
      <div class="left_tri columns benefit">
      <img src="images/beer-icon.png" width="150">
        <h2>Customer Analytics</h2>
        <p>Gain powerful customer insights with one click. See who's credit card is expiring soon, who's in trial, who's charges failed, customer lifetime values, purchase history and so much more!</p>
        <a href="#">Learn More About Customer Analytics</a>
      </div><!-- END .benefit -->

      <div class="center_tri columns benefit">
      <img src="images/beer-icon.png" width="150">
        <h2>Summary Emails</h2>
        <p>You're busy - you shouldn't need to log into an app to get the vital information you need about your business. We deliver daily/weekly email summaries of your revenue vitals and action items.</p>
        <a href="#">Learn More About Summaries</a>
      </div><!-- END .benefit -->

      <div class="right_tri columns benefit">
      <img src="images/beer-icon.png" width="150">
      <h2>Instant Alerts</h2>
        <p>Some things warrant your immediate attention. Choose which events (failed charges, new charges, disputes etc.) you want to know about and we'll let you know instantly any time it happens.</p>
        <a href="#">Learn More About Alerts</a>
      </div><!-- END .benefit -->

    </div><!-- END #benefits -->
  </div><!-- END three_benefits -->
</section>

<section class="cta_banner">
  <div id="cta" class="container">
    <div class="nine columns">
      <h2>Get Your Customer Data In <b><u>One- Click</u></b></h2>
      <h3>(It's literally that easy...and it's free to try.)</h3>
    </div>
    <div class="six columns offset-by-one">
      <a href="#">View Plans &amp; Pricing</a>
    </div>
</section>


<section id="customers_banner">
  <div id="customers" class="container">
    <div class="ten columns offset-by-three" id="customer_logos">
      <h2>HookFeed is Trusted By:</h2>
    </div>
    <div class="twelve columns offset-by-two">
      <div class="row">
        <div class="four columns alpha">
          <a href="https://segment.io?utm_source=hookfeed&utm_medium=referral&utm_campaign=customer_links"><img src="https://s3.amazonaws.com/HookFeed/logo_segmentio.png" alt="" width="160"></a>
        </div>

        <div class="four columns big">
          <a href="https://www.youneedabudget.com/?utm_source=hookfeed&utm_medium=referral&utm_campaign=customer_links"><img src="https://s3.amazonaws.com/HookFeed/YNAB_logo.png" alt="" width="160"></a>
        </div>

        <div class="four columns omega">
          <a href="http://wpcurve.com?utm_source=hookfeed&utm_medium=referral&utm_campaign=customer_links"><img src="https://s3.amazonaws.com/HookFeed/logo_wpcurve.png" alt="" width="160"></a>
        </div>
      </div>

      <div class="row">
        <div class="four columns alpha">
          <a href="https://www.runscope.com?utm_source=hookfeed&utm_medium=referral&utm_campaign=customer_links"><img src="https://s3.amazonaws.com/HookFeed/logo_runscope.png" alt="" width="160"></a>
        </div>

        <div class="four columns">
          <a href="http://drifty.co/?utm_source=hookfeed&utm_medium=referral&utm_campaign=customer_links"><img src="https://s3.amazonaws.com/HookFeed/drifty_logo.png" alt="" width="160"></a>
        </div>

        <div class="four columns omega">
          <a href="https://brandisty.com?utm_source=hookfeed&utm_medium=referral&utm_campaign=customer_links"><img src="https://s3.amazonaws.com/HookFeed/logo_brandisty.png" alt="" width="160"></a>
        </div>
      </div>
      <!--<img src="https://s3.amazonaws.com/HookFeed/user_logos.png" class="scale-with-grid">-->
    </div><!-- END #customer_logos -->
  </div>
</section>


<section id="footer_banner">
  <div id="footer" class="container">
    <footer class="sixteen columns">
      <a href="/blog">Blog</a>
      <a href="mailto:support@hookfeed.com">Support</a>
      <a href="/faqs">FAQs</a>
      <a href="/jobs">We're Hiring!</a>
      <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms &amp; Conditions</a>
      <p>Made with <img src="images/heart.png" width="25"> in Sunny San Diego</p>
      <a href="https://mixpanel.com/f/partner" style="margin-top:10px;display:block;"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
    </footer>
  </div>
</section>

