---
title: HookFeed - Stripe Email Notifications and Digest Analytics
priority: 1
changefreq: daily
---

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="sixteen columns">
      <h1>Customer Analytics in One Click.</h1>
      <h2>All your<img src="/images/stripe_logo_light.png" height="31" width="80">customer data &amp; bottom-line metrics. No Code.</h2>
      <a href="/pricing">START FREE TRIAL</a>
    </div><!-- END .sixteen.columns -->
    <div class="sixteen columns" id="main_graphic">
      <img src="images/main_hero_image.png" width="800">
    </div>
  </div><!-- END #headline.container -->
</section><!-- END #headline_banner -->

<section id="testimonial_banner">
  <div class="container testimonial">
    <div class="ten columns offset-by-three">
      <h2>"I was hoping someone would build this since the day we launched Stripe!"</h2>
      <div class="john-collison">
        <a href="https://twitter.com/collision"><img src="https://s3.amazonaws.com/HookFeed/johncollison.jpg" width="160" height="160" id="john" class="person scale-with-grid"></a>
        <h3><a href="https://twitter.com/collision">John Collison</a></h3>
        <h4><a href="https://stripe.com">Co-Founder of<img src="https://s3.amazonaws.com/HookFeed/stripe-mini.png" height="25"></a></h4>
      </div>
    </div>
  </div><!-- END #testimonial.container -->
</section><!-- END #testimonial -->

<section id="benefits_banner">
  <div id="benefits" class="container">
    <div class="row">
      <div class="twelve columns offset-by-two">
        <h1>It's About Time You Knew What's Happening With Your Customers and Your Revenue.</h1>
      </div>
    </div>

    <div class="row">
      <div class="nine columns">
        <img src="/images/bottom_line_metrics.png" width="520" class="scale-with-grid">
      </div>
      <div class="six columns offset-by-one">
        <h3>BOTTOM-LINE METRICS</h3>
        <h2>How Much Are You Making?</h2>
        <p><b>At the end of the day, your revenue is the only metric that matters.</b> Make sure you know how much money you're actually making so you can confidently make the right business decisions.</p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="six columns">
        <h3>CUSTOMER ANALYTICS</h3>
        <h2>Who's Most Valuable?</h2>
        <p><b>Customer knowledge is power.</b> Do you know who your most valuable customers are? Who's been with you the longest or what they've bought? Remember - analytics aren't just numbers...they're people too.</p>
      </div>
      <div class="nine columns offset-by-one">
        <img src="/images/customer_analytics.png" width="520" class="scale-with-grid">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="nine columns">
        <img src="/images/potential_earnings.png" width="520" class="scale-with-grid">
      </div>
      <div class="six columns offset-by-one">
        <h3>GROWTH FORECASTING</h3>
        <h2>What Are Your Potential Earnings?</h2>
        <p><b>You've got money on the table.</b> Don't leave it there. See your potential earnings based on who's in trial and when they're coming out. Convert more trialing customers to paid customers by reaching out early.</p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="six columns">
        <h3>CHURN PREVENTION</h3>
        <h2>Who's "At Risk"?</h2>
        <p><b>Prevention is better than cure.</b> In other words, we help you preempt churn <i>before</i> it happens. See who's credit card is going to expire  or who's late on a payment. Don't let expiring cards equal lost revenue...it's too easy of a win. You work hard to get customers, you should keep them.</p>
      </div>
      <div class="nine columns offset-by-one">
        <img src="/images/customers_at_risk.png" width="520" class="scale-with-grid">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="nine columns">
        <img src="/images/disputed_charge.png" width="520" class="scale-with-grid">
      </div>
      <div class="six columns offset-by-one">
        <h3>FAILED CHARGE &amp; DISPUTE MONITORING</h3>
        <h2>How Much Are You Losing?</h2>
        <p>Charges fail. People dispute things. It happens. We empower you to rescue them by making sure you have the critical information you need, right at your fingertips. No digging.</p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="six columns">
        <h3>ACTIVITY TRACKING</h3>
        <h2>Who Just Impacted Your Revenue?</h2>
        <p>You made money today. But where did it come from? We show you who contributed to that revenue, how and when. We also show you who upgraded, downgraded, or cancelled their subscriptions with you—and how each of these activities impacted your bottom line.</p>
      </div>
      <div class="nine columns offset-by-one">
        <img src="http://placehold.it/520x200" class="scale-with-grid">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="nine columns">
        <img src="http://placehold.it/520x200" class="scale-with-grid">
      </div>
      <div class="six columns offset-by-one">
        <h3>TIMELY, ACTIONABLE INSIGHTS</h3>
        <h2>Do You Know Your Daily Vitals?</h2>
        <p>You're busy - you shouldn't need to log into an app to get the vital information you need about your business. We deliver daily/weekly email summaries of your revenue vitals and action items. Stay focused on what's most important to you, and let us deliver the goods of just what you need to know.</p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="six columns">
        <h3>INSTANT EMAIL ALERTS</h3>
        <h2>Who Handles Critical Events?</h2>
        <p>Some things warrant your immediate attention. Choose which events (failed charges, new charges, disputes etc.) you want to know about and we'll let you know instantly any time it happens. We'll also route specific alerts to certain teammates. Want to send all dispute notifications to your bookeeper? No problem.</p>
      </div>
      <div class="nine columns offset-by-one">
        <img src="http://placehold.it/520x200" class="scale-with-grid">
      </div>
    </div>
  </div><!-- END #benefits -->
</section>

<section class="cta_banner">
  <div id="cta" class="container">
    <div class="nine columns">
      <h2>Get Your Customer Data In <b><u>One- Click</u></b></h2>
      <h3>(It's literally that easy...and it's free to try.)</h3>
    </div>
    <div class="six columns offset-by-one">
      <a href="#">View Plans &amp; Pricing</a>
    </div>
</section>


<section id="customers_banner">
  <div id="customers" class="container">
    <div class="ten columns offset-by-three" id="customer_logos">
      <h4>HOOKFEED IS TRUSTED BY:</h4>
    </div>
    <div class="twelve columns offset-by-two">
      <div class="row">
        <div class="four columns alpha top">
          <a href="https://segment.io?utm_source=hookfeed&utm_medium=referral&utm_campaign=customer_links"><img src="https://s3.amazonaws.com/HookFeed/logo_segmentio.png" alt="" width="160"></a>
        </div>

        <div class="four columns big">
          <a href="https://www.youneedabudget.com/?utm_source=hookfeed&utm_medium=referral&utm_campaign=customer_links"><img src="https://s3.amazonaws.com/HookFeed/YNAB_logo.png" alt="" width="160"></a>
        </div>

        <div class="four columns omega top">
          <a href="http://wpcurve.com?utm_source=hookfeed&utm_medium=referral&utm_campaign=customer_links"><img src="https://s3.amazonaws.com/HookFeed/logo_wpcurve.png" alt="" width="160"></a>
        </div>
      </div>

      <div class="row">
        <div class="four columns alpha">
          <a href="https://www.runscope.com?utm_source=hookfeed&utm_medium=referral&utm_campaign=customer_links"><img src="https://s3.amazonaws.com/HookFeed/logo_runscope.png" alt="" width="160"></a>
        </div>

        <div class="four columns top">
          <a href="http://drifty.co/?utm_source=hookfeed&utm_medium=referral&utm_campaign=customer_links"><img src="https://s3.amazonaws.com/HookFeed/drifty_logo.png" alt="" width="160"></a>
        </div>

        <div class="four columns omega">
          <a href="https://brandisty.com?utm_source=hookfeed&utm_medium=referral&utm_campaign=customer_links"><img src="https://s3.amazonaws.com/HookFeed/logo_brandisty.png" alt="" width="160"></a>
        </div>
      </div>
      <!--<img src="https://s3.amazonaws.com/HookFeed/user_logos.png" class="scale-with-grid">-->
    </div><!-- END #customer_logos -->
  </div>
</section>


<section id="footer_banner">
  <div id="footer" class="container">
    <footer class="sixteen columns">
      <a href="/blog">Blog</a>
      <a href="mailto:support@hookfeed.com">Support</a>
      <a href="/pricing#faqs_banner">FAQs</a>
      <a href="/jobs">We're Hiring!</a>
      <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms &amp; Conditions</a>
      <a href="http://www.madeinsd.org" class="madeinsd">Made with <img src="images/heart.png" width="25"> in Sunny San Diego</a>
      <a href="https://mixpanel.com/f/partner" style="margin-top:10px;display:block;"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
    </footer>
  </div>
</section>

