---
title: HookFeed - Stripe Email Notifications and Digest Analytics
---

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="sixteen columns">
      <h1>Get notified of failed charges in your Stripe account</h1>
      <a href="#">View Plans &amp; Pricing</a>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #headline.container -->
</section><!-- END #headline_banner -->

<section id="faqs_banner">
  <div id="faqs" class="container">

    <div class="sixteen columns">
      <h2>Some cool headline about FAQs</h2>
    </div><!-- END .sixteen.columns -->

    <div id="faqs_left" class="six columns offset-by-two">
      <dl>
        <dt>Some weird question?</dt>
        <dd>Some awesome answer and more and then some more about something!</dd>

        <dt>Some weird question?</dt>
        <dd>Some awesome answer and more and then some more about something!</dd>

        <dt>Some weird question?</dt>
        <dd>Some awesome answer and more and then some more about something!</dd>
      </dl>
    </div><!-- END #faqs_left -->

    <div id="faqs_right" class="six columns">
      <dl>
        <dt>Some weird question?</dt>
        <dd>Some awesome answer and more and then some more about something!</dd>

        <dt>Some weird question?</dt>
        <dd>Some awesome answer and more and then some more about something!</dd>

        <dt>Some weird question?</dt>
        <dd>Some awesome answer and more and then some more about something!</dd>
      </dl>
    </div><!-- END #faqs_right -->
  </div><!-- END #faqs.container -->
</section><!-- END #faqs_banner -->