---
title: HookFeed - Stripe Email Notifications and Digest Analytics
---

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="sixteen columns">
      <h1>You're losing money by ignoring your Stripe account.</h1>
      <h2>We keep you and your team in the loop.</h2>
      <a href="#">Start 14-Day Free Trial</a>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #headline.container -->
</section><!-- END #headline_banner -->




<section id="benefits_banner">
  <div id="benefits" class="container">
    <div id="email_diagrams">
      <div class="eight columns" id="alert_diagram">
        <h2>Instant Email Alerts</h2>
        <h3>When critical events happen</h3>
        <img src="http://placehold.it/426x357" width="426" class="scale-with-grid">
      </div><!-- END #alert_diagram -->

      <div class="eight columns" id="digest_diagram">
        <h2>Summary Digest Emails</h2>
        <h3>Sent daily and/or weekly</h3>
        <img src="http://placehold.it/426x357" width="426" class="scale-with-grid">
      </div><!-- END #digest_diagram -->
    </div><!-- END #email_diagrams -->

    <div id="three_benefits">
      <div class="four columns offset-by-one benefit">
        <img src="http://placehold.it/60x20">
        <h2>Send to Your Team</h2>
        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
      </div><!-- END .benefit -->

      <div class="four columns offset-by-one benefit">
        <img src="http://placehold.it/60x20">
        <h2>Multiple Stripe Accounts</h2>
        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
      </div><!-- END .benefit -->

      <div class="four columns offset-by-one benefit">
        <img src="http://placehold.it/60x20">
        <h2>Free Plan</h2>
        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
      </div><!-- END .benefit -->
    </div><!-- END #three_benefits -->
  </div><!-- END #benefits.container -->
</section><!-- END #benefits_banner -->




<section id="testimonials_banner">
  <div id="testimonials" class="container">
    <div class="seven columns offset-by-one" id="left_testimonials">
      <div class="testimonial">
        <img src="http://placehold.it/100x100" width="100">
        <h2>Name</h2>
        <h3>Job Description</h3>
        <p>Testimonial</p>
      </div><!-- END .testimonial -->

      <div class="testimonial">
        <img src="http://placehold.it/100x100" width="100">
        <h2>Name</h2>
        <h3>Job Description</h3>
        <p>Testimonial</p>
      </div><!-- END .testimonial -->
    </div><!-- END #left_testimonial -->

    <div class="seven columns" id="right_testimonials">
      <div class="testimonial">
        <img src="http://placehold.it/100x100" width="100">
        <h2>Name</h2>
        <h3>Job Description</h3>
        <p>Testimonial</p>
      </div><!-- END .testimonial -->

      <div class="testimonial">
        <img src="http://placehold.it/100x100" width="100">
        <h2>Name</h2>
        <h3>Job Description</h3>
        <p>Testimonial</p>
      </div><!-- END .testimonial -->
    </div><!-- END #right_testimonial -->

    <div class="divider">X</div>

    <div class="sixteen columns" id="companies_using">
      <h3>Awesome Companies using HookFeed</h3>

      <div class="four columns alpha">
        <img src="http://placehold.it/200x80">
      </div><!-- END .four.columns.alpha -->

      <div class="four columns">
        <img src="http://placehold.it/200x80">
      </div><!-- END .four.columns -->

      <div class="four columns">
        <img src="http://placehold.it/200x80">
      </div><!-- END .four.columns -->

      <div class="four columns omega">
        <img src="http://placehold.it/200x80">
      </div><!-- END .four.columns.omega -->

    </div><!-- END #companies_using -->
  </div><!-- END #benefits.container -->
</section><!-- END #benefits_banner -->



<section id="pricing_banner">
  <div id="pricing" class="container">
    <div class="twelve columns">
      <h1>One this. One that. Amazing</h1>
      <h2>Nudgin ya</h2>
    </div><!-- END .twelve.columns -->

    <div class="four columns" id="interval_toggle">
      <a href="#" id="toggle_monthly">Monthly</a><a href="#" id="toggle_annual">Annual</a>
    </div><!-- END #interval_toggle -->

    <div class="sixteen columns" id="pricing_table">
      <div id="labels">
        <span class="label">Recipients</span>
        <span class="label">Stripe Accounts</span>
        <span class="label">Email Alerts</span>
        <span class="label">Daily Digests</span>
        <span class="label">Weekly Digests</span>
      </div><!-- END #labels -->

      <div id="dev_plan">
        <div id="max_transactions_notice">Less than 20<br>monthly transactions?</div>


      </div><!-- END #dev_plan -->

      <div id="solo_plan">

      </div><!-- END #solo_plan -->

      <div id="startup_plan">

      </div><!-- END #startup_plan -->

      <div id="business_plan">

      </div><!-- END #business_plan -->
    </div><!-- END #pricing_table -->
  </div><!-- END #pricing.container -->
</section><!-- END #pricing_banner -->




<section id="faqs_banner">
  <div id="faqs" class="container">

    <div class="sixteen columns">
      <h2>FAQs</h2>
    </div><!-- END .sixteen.columns -->

    <div id="left_faqs" class="six columns offset-by-two">
      <dl>
        <dt>Some weird question?</dt>
        <dd>Some awesome answer and more and then some more about something!</dd>

        <dt>Some weird question?</dt>
        <dd>Some awesome answer and more and then some more about something!</dd>

        <dt>Some weird question?</dt>
        <dd>Some awesome answer and more and then some more about something!</dd>
      </dl>
    </div><!-- END #left_faqs -->

    <div id="right_faqs" class="six columns">
      <dl>
        <dt>Some weird question?</dt>
        <dd>Some awesome answer and more and then some more about something!</dd>

        <dt>Some weird question?</dt>
        <dd>Some awesome answer and more and then some more about something!</dd>

        <dt>Some weird question?</dt>
        <dd>Some awesome answer and more and then some more about something!</dd>
      </dl>
    </div><!-- END #right_faqs -->
  </div><!-- END #faqs.container -->
</section><!-- END #faqs_banner -->