---
title: HookFeed - Stripe Email Notifications and Digest Analytics
priority: 1
changefreq: daily
---

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="sixteen columns">
      <h1>Intelligent<img src="https://s3.amazonaws.com/HookFeed/stripe_logo.png" height="50" width="122">Notifications for Your Team</h1>
      <h2>Stop missing important events</h2>

      <!--Sign Up Button - turn back on when ready.
      <a href="#pricing_banner">Start 14-Day Free Trial</a>
      <div id="nudge">One-click setup. No code necessary.</div> -->

       <form action="http://email.demandloyalty.com/t/r/s/tjtiury/" method="post" id="subForm" class="sixteen columns">
        <input type="email" name="cm-tjtiury-tjtiury" id="tjtiury-tjtiury" placeholder="Email Address" /><input type="submit" value="Reserve Your Launch Discount" />
      </form>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #headline.container -->
</section><!-- END #headline_banner -->




<section id="benefits_banner">
  <div id="benefits" class="container">
    <div id="email_diagrams">
      <div class="left_half columns" id="alert_diagram">
        <h2>Instant Email Alerts</h2>
        <h3>When critical events happen</h3>
        <img src="https://s3.amazonaws.com/HookFeed/alert_diagram.png" width="426" class="scale-with-grid">
      </div><!-- END #alert_diagram -->

      <div class="right_half columns" id="digest_diagram">
        <h2>Summary Digest Emails</h2>
        <h3>Sent daily and/or weekly</h3>
        <img src="https://s3.amazonaws.com/HookFeed/digest_diagram.png" width="426" class="scale-with-grid">
      </div><!-- END #digest_diagram -->
    </div><!-- END #email_diagrams -->

    <div id="six_benefits">
      <div class="row">
        <div class="left_tri columns benefit">
          <span>Q</span>
          <h2>One-Click Connect</h2>
          <p>Connect your Stripe account to HookFeed with just <b>one click</b>. <u>No code necessary</u>. Be up and running in less than a minute.</p>
        </div><!-- END .benefit -->

        <div class="center_tri columns benefit">
          <span>!</span>
          <h2>Instant Email Alerts</h2>
          <p>When something important happens, you need to know about it - especially when it's critical events like disputed/failed charges.</p>
        </div><!-- END .benefit -->

        <div class="right_tri columns benefit">
          <span>N</span>
          <h2>Digest Emails</h2>
          <p>Not every event in your account needs your immediate attention. Want a weekly summary of new signups? No problem!</p>
        </div><!-- END .benefit -->
      </div><!-- END .row -->

      <div class="row">
        <div class="left_tri columns benefit">
          <img src="https://s3.amazonaws.com/HookFeed/benefit_group.png" width="42">
          <h2>Send to Your Team</h2>
          <p>Choose what Stripe events get sent to individual teammates. Send Ben alerts only when charges fail. Send Jessica weekly digests of all successful charges.</p>
        </div><!-- END .benefit -->

        <div class="center_tri columns benefit">
          <img src="https://s3.amazonaws.com/HookFeed/benefit_multiple.png" width="71">
          <h2>Multiple Stripe Accounts</h2>
          <p>Connect multiple Stripe accounts and get a handle on all activity happening across your different accounts. No code means it's super easy to connect/disconnect.</p>
        </div><!-- END .benefit -->

        <div class="right_tri columns benefit">
          <img src="https://s3.amazonaws.com/HookFeed/benefit_free.png" width="31">
          <h2>Free Plan</h2>
          <p>When you’re just getting started you’ve got plenty to worry about - writing custom code to monitor Stripe shouldn’t be on the list. Get set up with HookFeed for free.</p>
        </div><!-- END .benefit -->
      </div><!-- END .row -->
    </div><!-- END #six_benefits -->

    <footer class="sixteen columns">
      <a href="mailto:support@hookfeed.com">Support</a>
      <span>Built by <a href="http://www.smallhq.com">Small HQ</a> &nbsp;|&nbsp;  <a href="http://www.madeinsd.org"> Made in SD</a></span>
    </footer>
  </div><!-- END #benefits.container -->
</section><!-- END #benefits_banner -->
