#footer_banner {
  background-color: #F5F5F5;
  padding-bottom: 50px;

  footer {
    background-color: #F5F5F5;
    margin-top: 100px !important;
    text-align: center;

    a {
      color: #898f95;
      font-size: 18px;
      line-height: 29px;
      text-decoration: none;
      display: inline;
      margin-right: 18px;

      /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
      @media only screen and (max-width: 479px) {
        font-size: 16px;
      }

      &:last-child {
        margin-right: 0px;
      }

      &:visited {
        color: #898f95;
      }
    }

    p {
      margin-top: 20px;
      margin-bottom: 40px;
      font-size: 18px;
      font-weight: bold;
    }
    img {
      vertical-align: middle;
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}