#headline_banner {
  background-color: #29333a;
  padding-top: 54px;
  padding-bottom: 60px;

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  #headline {
    margin-bottom: 30px;
    text-align: center;

    h1, h2 {
      color: #f7f7f7;
      text-align: center;
    }

    h1 {
      font-size: 34px;
      line-height: 42px;
      font-weight: 300;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 22px;
      line-height: 28px;
      font-weight: 400;
    }
  }
}